// This is a copy of mobile-content in index.html

body {
    margin: 0;
    padding: 0;
    /* font-family: 'Barlow', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

/* Media query for desktop devices with a minimum width of 768px */
@media only screen and (min-width: 768px) {
    .mobile-content {
        display: none; /* Hide mobile content on desktop */
    }
}

/* Media query for mobile devices with a maximum width of 767px */
@media only screen and (max-width: 767px) {
    .desktop-content {
        display: none; /* Hide desktop content on mobile */
    }
}
/******************* Title Section ******************/
.main-container {
    position: relative;
    text-align: center;
    width: 375px;
}

.header-image {
    display: block;
    width: 100%;
    height: auto;
}

.sunnyside {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 900;
}


  /* .menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background: url('images/icon-hamburger.svg') no-repeat center;
    background-size: contain;
    text-decoration: none;
    position: absolute;
    top: 30px;
    right: 38px;
}
   */

   
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    display: block;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: rgb(255, 253, 248);
    
    width: 150px;
    height: 150px;
    z-index: 9999; /* Set a high z-index to ensure it covers other elements */
    /* position: relative; */
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.topnav #myLinks::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    /* border-left: 5px solid transparent; /* Triangle pointing to top-right corner */
    /* border-bottom: 5px solid rgb(255, 253, 248); */ 
}


  /* Style navigation menu links */
  .topnav a {
    /* color: white; */
    font-size: 16px;
    display: block;
    text-decoration: none;
    /* position:absolute;
    top: 20px;
    right: 20px; */
    flex-direction: column;
    align-items: flex-end;
  }

  /* Style the hamburger menu */
  .topnav a.icon {
    color: white;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    /* width: 8px;
    height: 8px; */
    border: none;
    background: url('images/icon-hamburger.svg') no-repeat center;
    background-size: contain;
    text-decoration: none;
  }
  
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: transparent;
    color: white;
  }

  

.about {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 92, 146);
    font-size: 16px;
    font-weight: 300;
}

.services {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 92, 146);
    font-size: 16px;
    font-weight: 300;
}

.projects {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(106, 92, 146);
    font-size: 16px;
    font-weight: 300;
}

.contact-button {
    text-decoration: none; /* Remove underline from the link */
    margin-bottom: 10px;
    font-family: 'Fraunces', sans-serif;
    color: black;
    font-size: 10px;
    font-weight: 100;
    /* padding: 10px 20px; */
    /* height: 25px; */
    /* width: 40px */
    background-color: rgb(255, 225, 0); 
    border-radius: 25px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition effect */
    align-items: center;
    justify-content: center;

    /* Style the button for when the mouse hovers over it */
    &:hover {
        color: white;
    }
}

.header-title {
    position: absolute;
    font-family: 'Fraunces', sans-serif;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.15em;
}

.arrow {
    position:absolute;
    top: 280px;
    left: 46.5%;
    text-align: center;
    color: white; /* Arrow color */
    font-size: 110px;
    font-weight: 100;
}


/******************* Content Section 1 ******************/
.content-1 {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    background-color:rgb(255, 253, 248);
}

.transform-image {
    width: 100%;
}

.left-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.subheading-1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 30px;
}

.text-1 {
    font-size: 14px;
    font-weight: 520;
    padding-bottom: 38px;
    color:rgb(97, 86, 161);
    line-height: 1.5;
    padding-bottom: 30px;
}

.learn-more-1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 50px;
}

.learn-more-link-1 {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color */
    position: relative;
}

.learn-more-link-1::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 110%;
    height: 8px; /* Adjust the thickness of the underline */
    background-color: rgb(255, 242, 146);
    border-radius: 5px; /* Round the edges of the underline */
}

.learn-more-link-1:hover::after {
    background-color: rgb(255, 213, 0); /* Change the color on hover */
}



/******************* Content Section 2 ******************/
.content-2 {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    background-color:rgb(255, 253, 248);
}

.stand-out-image {
    width: 100%;
}

.right-2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.subheading-2 {
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 30px;
}

.text-2 {
    font-size: 14px;
    font-weight: 520;
    padding-bottom: 38px;
    color:rgb(97, 86, 161);
    line-height: 1.5;
    padding-bottom: 30px;
}

.learn-more-2 {
    font-family: 'Fraunces', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 50px;
}

.learn-more-link-2 {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color */
    position: relative;
}

.learn-more-link-2::after {
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 110%;
    height: 8px; /* Adjust the thickness of the underline */
    background-color: rgb(248, 214, 208);
    border-radius: 5px; /* Round the edges of the underline */
}

.learn-more-link-2:hover::after {
    background-color: rgb(252, 96, 53); /* Change the color on hover */
}


/******************* Content Section 3 ******************/
.content-3 {
    margin-top: 0px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.graphic-design {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.graphic-design-image {
    width: 100%;
}

.GD-title {
    position: absolute;
    top: 400px;
    padding-left: 18%;
    /* left: 50%; /* Position the title in the horizontal center */
    /* transform: translate(-50%, -50%); Center the title */ 
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}

.GD-text {
    position: absolute;
    top: 460px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-family:'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: hsl(167, 40%, 24%);
}

.photography {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.photography-image {
    width: 100%;
}

.photo-title {
    position: absolute;
    top: 420px;
    left: 50%; /* Position the title in the horizontal center */
    transform: translate(-50%, -50%); /* Center the title */
    font-family: 'Fraunces', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: hsl(198, 62%, 26%);
}

.photo-text {
    position: absolute;
    top: 460px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-family:'Barlow', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: hsl(198, 62%, 26%);
}


/******************* Client Testimonials ******************/
.client-section {
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-bottom: 50px;
    width: 100%;
    display: block;
    background-color:rgb(255, 253, 248);
}

.info-title {
    position:relative;
    font-family: 'Fraunces', sans-serif;
    font-size: 20px;
    font-weight: 900;
    padding-top: 70px;
    padding-bottom: 60px;
    text-align: center;
    /* white-space: nowrap; */
    letter-spacing: 0.15em;
    color:rgb(177, 176, 176);
}

/* .client-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 10px; */
/* } */

.person-info {
    text-align: center;
}

.person-info img {
    width: 20%;
    border-radius: 50%; /* Makes the image round */
    margin-bottom: 30px;
}

.person-info h2 {
    font-family:'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    margin: 0;
    line-height: 1.55em;
    color: hsl(210, 11%, 43%);
}

.person-info p {
    font-family: 'Fraunces', sans-serif;
    font-size: 22px;
    font-weight: 900;
}

.additional-info {
    font-size: 16px;
    color: hsl(210, 10%, 53%);
    padding-bottom: 50px;
}


/******************* Gallery ******************/
.gallery {
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.gallery img {
    width: 100%;
    height:auto;
}


/******************* Footer ******************/
.footer {
    background-color: hsl(170, 56%, 74%);
}

.footer-title {
    font-size: 32px;
    font-weight: 900;
    padding-top: 80px;
    padding-bottom: 20px;
    color: hsl(168, 37%, 37%);
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-button,
.projects-button,
.service-button {
    font-size: 18px;
    color: hsl(168, 37%, 37%);
    padding-inline: 40px;
    padding-top: 10px;
    padding-bottom: 80px;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
}

.service-button:hover,
.about-button:hover,
.projects-button:hover {
    color: white;
    background-color: hsl(168, 37%, 37);
}


.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.facebook {
    background-image: url('images/icon-facebook.svg');
}

.instagram {
    background-image: url('images/icon-instagram.svg');
}

.twitter {
    background-image: url('images/icon-twitter.svg');
}

.pinterest {
    background-image: url('images/icon-pinterest.svg');
}

.icons a {
    display: inline-block;
    /* width: 10px;
    height: 10px; */
    padding: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.icons a:hover {
    filter: brightness(0) invert(1);
}
